@use "../../scss/variables/variables" as *;

.categoryItem {
  list-style: none;
  display: flex;
  flex-direction: column;
  background-color: $white;

  &:not(:first-child) {
    margin-top: 5em;
  }

  &__image {
    width: 100%;

    img {
      width: 100%;
      height: auto;
      max-width: 350px;
      border-radius: 5px;
      display: inline-block;
      object-fit: scale-down;

      @media all and (min-width: $tablet) {
        max-width: 650px;
      }

      @media all and (min-width: $desktop) {
        max-width: 468px;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em 0;

    @media all and (min-width: $tablet) {
      padding: 2em;
    }

    @media all and (min-width: $desktop) {
      padding: 6em;
    }
  }

  &__name {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.13rem;
    text-transform: uppercase;
    text-align: center;
    color: $black;
    line-height: 2rem;

    @media all and (min-width: $tablet) {
      font-size: 2.8rem;
      line-height: 3rem;
    }

    @media all and (min-width: $desktop) {
      text-align: left;
    }
  }

  &__description {
    font-size: 1rem;
    font-weight: 400;
    color: $black-half-opacity;
    text-align: center;
    padding: 2em 0;
    line-height: 1.5rem;

    @media all and (min-width: $desktop) {
      text-align: left;
      padding-right: 3em;
    }
  }

  @media all and (min-width: $desktop) {
    flex-direction: row;
  }
}
