@use "../variables" as *;

.navbar {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;

  &__item {
    font-size: 0.8rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
  }

  &__item:hover {
    color: $brick;
  }

  @media all and (max-width: $mobile) {
    flex-direction: column;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
