@use "../variables/variables" as *;

.btn {
  padding: 1em 2em;
  border: none;
  background-color: $brick;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: $white;
  cursor: pointer;
  transition: 500ms;

  &:hover {
    background-color: $light-brick;
  }
}

.spacedItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.2em 0;
}
