@use "../../../scss/variables/variables" as *;

.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  & > a {
    color: inherit;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    text-align: center;
    margin: 1rem;
  }

  & > a:hover {
    color: $brick;
  }

  @media all and (min-width: $tablet) {
    flex-direction: row;

    & > a {
      margin: 0;
    }
  }

  @media all and (min-width: $desktop) {
    padding-right: 0%;
    padding-left: 10%;
  }
}
