@use "../../scss/variables/variables" as *;

.footer {
  display: flex;
  flex-direction: column;
  background-color: $light-black;
  color: $white;
  //   need to be adjusted if body has padding or margin
  padding: 0rem 2rem 3rem 2rem;
  // &__logo {
  //   padding: 1rem 0 0 0;
  // }
  &__description {
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 0.02rem;
    line-height: 1.7rem;
    opacity: 50%;
  }

  &__copyright {
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 0.02rem;
    opacity: 50%;
  }

  &__icons {
    order: 5;
  }

  @media all and (min-width: $desktop) {
    flex-direction: row;
    flex-wrap: wrap;

    &__copyright {
      order: 5;
    }
  }

  @media all and (max-width: $tablet) {
    align-items: center;
  }
}

.footer > * {
  flex-basis: 50%;
  padding-top: 3.5rem;
}
