// Colors
$brick: #d87d4a;
$light-brick: #fbaf85;
$light-black: #101010;
$light-grey: #f1f1f1;
$very-light-grey: #fafafa;
$white: #ffffff;
$black: #000000;

// Fonts
$font-family: "Manrope", sans-serif;

// Font sizes
$big: 2rem;
$medium-big: 1.5rem;
$medium: 1.2rem;
$small: 1rem;

// Breakpoints
$mobile: 375px;
$tablet: 650px;
$desktop: 1200px;
